body {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}


h1 {
    font-size: 30px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.top {
    margin-bottom: 20px;
}

.city:hover {
    color: blue;
}

.open-source {
    text-decoration: none;
}

.open-source:hover {
    text-decoration: underline;
}


.weather-wrapper {
    max-width: 600px;
    margin: 20px auto;
}
.weather {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: black;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;

}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: black;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    color: var(--bs-link-color);
    cursor: default;
    text-decoration: none;
}

a {
    text-decoration: none;
}